/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Custom styles
  ========================================
*/

/* FULL-WIDTH INPUT FIELDS */

input[type=text],input[type=password] 
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #cc;
	box-sizingg: border-box;
}
/* SET A STYLE FOR ALL BUTTONS */
button
{
	background-color: #48d1cc;
	color: white;
	padding: 14px 20px; 
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
.cancelbtn 
{
    width: auto;
	padding: 10px 18px;
	background-color: #4682b4;
}
/*CENTER THE IMAGE AND POSITION THE CLOSE BUTTON */
.imgcontainer
{
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}
.container
{
	padding: 16px;
}
span.psw
{ 
    float: right;
	padding-top: 16px;
}
/* THE MODAL (background)*/

body
{
	background-color:silver;
}
.modal-content
{
	background-color : #fefefe;
	margin: auto;
	border: 1px solid #888;
	width: 300px;
	margin-top: 80px;
	padding:0px;
	position: center;
} 
/* THE CLOSE BUTTON (X)*/     
.close
{
    position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight; bold;
}
.close:hover,.close:focus 
{
    color: red;
	cursor: pointer
}
/* ADD ZOOM ANIMATION */
.animate 
{
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom
{
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}
@keyframes animatezoom 
{
	from {transform: scale(0)}
	to{transform: scale(1)}
}
@media screen and(max-width: 300px)
{
	span.psw 
	{
		display: block;
		float: none;
	}  
	.cancelbtn
	{
		width: 100%;
	}
}

